<!DOCTYPE html>
<html ng-app="redditApp">
<head>
	<title>Reddit Clone</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

</head>
<body ng-controller="AppController">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><button ng-click="new=newPost()">Add New Post</li></button>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid" ng-show="addPost">
		<form name="postForm" ng-submit="submitPost(postForm)" nonvalidate>
			
			<div class="form-group" ng-class="{ 'has-error' : postForm.title.$invalid && !postForm.title.$pristine ,'has-success' : postForm.title.$valid }">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title" ng-model="post.title" name="title" placeholder="Title" ng-minlength="3" ng-required="true">
			</div>

			<div class="form-group" ng-class="{ 'has-error' : postForm.author.$invalid && !postForm.author.$pristine ,'has-success' : postForm.author.$valid }">
				<label for="author">Author</label>
				<input type="text" class="form-control" id="author" ng-model="post.author" name="author" placeholder="Author"  ng-minlength="2" ng-required="true">
			</div>

			<div class="form-group" ng-class="{ 'has-error' : postForm.url.$invalid && !postForm.url.$pristine ,'has-success' : postForm.url.$valid }">
				<label for="url">Image URL</label>
				<input type="text" class="form-control" id="url" ng-model="post.imageUrl" name="url" placeholder="Image URL"  ng-minlength="2" ng-required="true">
			</div>

			<div class="form-group" ng-class="{ 'has-error' : postForm.description.$invalid && !postForm.description.$pristine ,'has-success' : postForm.description.$valid }">
				<label for="description">Description</label>
				<input type="text" class="form-control" id="description" ng-model="post.description" placeholder="Description"  name="description" ng-minlength="2" ng-required="true">
			</div>

			<button type="submit" ng-show="postForm.$valid">Submit New Post</button>
		</form>
	</div>

	<div class="container-fluid" ng-repeat="n in currentPosts track by $index">
		<br>
		<div class="container-fluid" style="background:#EEEEEE" ng-show="displayInitialPost">
			<div class="row">
				<div class="col-md-3"> 
					<img src="{{n.imageUrl}}">
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-3">{{n.title}} |  </div>
						<span class="glyphicon glyphicon-arrow-up" ng-click="upVote(n)"></span>
						<span class="glyphicon glyphicon-arrow-down" ng-click="downVote(n)"></span>
						<p ng-class="{ positive: isPositive(n.votes), negative: isNegative(n.votes), zero: isZero(n.votes) }">{{n.votes}}</p>
					</div>
					<div class="row">
						<div class="col-md-offset-10">
							<p>By {{n.author}}</p>
						</div>
					</div>
					<div class="row">
						<p>{{n.description}}</p>
					</div>
					<div class="row">
						<div class="col-md-2"><span class="glyphicon glyphicon-calendar"></span>Date</div>
						<div class="col-md-2"><span class="glyphicon glyphicon-comment"></span>Comments</div>
						<div class="col-md-2" ng-click="showCommentForm()"><span class="glyphicon glyphicon-pencil"></span>Add Comment</div>
					</div>
					<div class="row" >
						<div class="col-md-12" ng-show="addComment">
							<form name="postForm" ng-submit="submitComment(postForm)" nonvalidate>
								<div  class="col-md-2 form-group" ng-class="{ 'has-error' : postForm.author.$invalid && !postForm.author.$pristine ,'has-success' : postForm.author.$valid }">
									<label for="author">Author:</label>
									<input type="text" class="form-control" id="author" ng-model="post.comment.author" placeholder="Author" name="author" ng-minlength="2" ng-required="true">
								</div>
								<div class="col-md-2 form-group" ng-class="{ 'has-error' : postForm.text.$invalid && !postForm.text.$pristine ,'has-success' : postForm.text.$valid }">
									<label for="text">Text:</label>
									<input type="text" class="form-control" id="text" ng-model="post.comment.text" placeholder="Text" name="text" ng-minlength="2" ng-required="true">
								</div>
								<div class="col-md-2">
									<button type="submit">Add Comment</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
