.header {
	background-color: rgba(63, 146, 191, 0.5);
}

.positive {
	color:green;
}

.negative {
	color:red;
}

.zero {
	color:black;
}

.postContainer.ng-leave {
	transition: opacity 1s;
	opacity: 1;
}

.postContainer.ng-leave-active {
  opacity: 0;
}

.postContainer.ng-enter {
	transition: opacity 1s;
	opacity: 0;
}

.postContainer.ng-enter-active {
  opacity: 1;
}